#django
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env
venv/
env/
ENV/
.venv/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# MacOS 系統垃圾
.DS_Store

# Coverage reports
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml

# Migrations (optional，看你要不要加)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
#-----------------------------------------------------------
#react native
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

#忽略 keys 目录下的所有文件
keys/