[phases.setup]
nixPkgs = ["python311"]

[phases.build]
cmds = [
  "python -m ensurepip --upgrade",
  "pip install -r requirements.txt"
]

[phases.start]
cmd = "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"


